@import "../../../scss/index.scss";

.menu-top {
  display: flex;
  background-color: $menu-color;

  button {
    color: $font-light;

    &:hover {
      color: $primary-color;
    }
    &:focus,
    &:active {
      color: $font-light;
    }
  }
  &_left {
    &-logo {
      width: 200px;
      padding: 0.1px;
    }
  }
  &__right {
    position: absolute;
    right: 0;
  }
}
