.list-patients {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .patients-active {
    background-color: #fff;
    padding: 10px 20px;

    .ant-list-item-meta {
      display: flex;
      align-items: center;
    }
  }
}
