@import "./scss/index.scss";
@import "~antd/dist/antd.css";

.success {
  border: 1px solid $success !important;
  background-color: $background-success !important;
}

.error {
  border: 1px solid $error !important;
  background-color: $background-error !important;
}
