$defaulFontSize: 16px;

$primary-color: #d30000;
$primary-color-hover: #0280b3;

$menu-color: #252527;

$font-light: #fff;
$font-grey-light: #e8e8e8;
$font-grey: #808080;
$font-grey-dark: #000;
$font-dark-light: 252527;
$font-dark: #000;

$border-light: #fff;
$border-grey-light: #e8e8e8;
$border-grey: #808080;
$border-grey-dark: #595959;
$border-dark-light: #252527;
$border-dark: #000;

$background-light: #fff;
$background-grey-light: #e8e8e8;
$background-grey: #808080;
$background-grey-dark: #595959;
$background-dark-light: #252527;
$background-dark: #000;
$background-success: #84b84c1f;
$background-error: #f0001f;

$succes: #84b84c;
$error: #f00;
$warning: orange;

//Responsive down size
$media-breackpoing-down-xs: 413.98px;
$media-breackpoing-down-sm: 573.98px;
$media-breackpoing-down-md: 767.98px;
$media-breackpoing-down-lg: 991.98px;
$media-breackpoing-down-xl: 1199.98px;

//Responsive up size
$media-breackpoing-down-xs: 320px;
$media-breackpoing-down-sm: 576px;
$media-breackpoing-down-md: 768px;
$media-breackpoing-down-lg: 992px;
$media-breackpoing-down-xl: 1200px;
